<header>
	<h2>{{project.title}}</h2>
	<div class="addon">
		<form action="/app/projects/{{ project.id }}?_method=DELETE" method="POST">
			<button type="submit" class="btn btn-danger">Excluir projeto</a>
		</form>
	</div>
</header>
