{% extends 'partials/layout.njk' %}

{% block body %}
<div class="wrapper">

	{% include 'partials/header.njk' %}

	<section id="main">
		<div class="container">
			{% include 'partials/project-header.njk' %}
			<section id="content">
				{% include 'partials/project-nav.njk' %}
			</section>
		</div>
	</section>

	{% include 'partials/modal-section.njk' %}
</div>
{% endblock %}
